.style {
    height: 44px;
    width: 44px;
    border-radius: 8px;
}

.empty {
    background-color: rgba(255, 255, 255, 0.245);
}

.one {
    background-color: #ff923d;
}

.two {
    background-color: #22C76B;
}


@media (max-width: 350px) {
    .style {
        height: 34px;
        width: 34px;
    }
}