.connectFourBoard {
    height: 500px;
    width: 400px ;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  
  .connectFourColumn {
    display: flex;
    flex-direction: column-reverse;
  }
