.connectFourBoard {
    background-color: rgba(0, 0, 0, 0.723) ;
    padding: 10px;
    border-radius: 8px;
    margin-top: 60px;
    display: flex;
    gap: 10px;
  }
  
  .connectFourColumn {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
  }

  @media (max-width: 350px) {
    .connectFourBoard {
      padding: 8px;
      gap: 8px;
    }
    
    .connectFourColumn {
      gap: 8px;
    }
  }