.style {
    height: 44px;
    width: 44px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: bold;
}

.one {
    color: #ff923d;
}

.two {
    color: #22C76B;
}

@media (max-width: 350px) {
    .style {
        height: 34px;
        width: 34px;
    }
}